Hi #{@user.username}!

Your #{@service} account needs to be re-authorized within the next #{@time} to make sure that we don't miss out on collecting information for you.

TODO: Finish this account specific URL creation VVVV

To do this just follow this link: http://journalbits.net/users/reauth

Should that not work you can try logging in to your account, navigate to your connections and then re-authorize your #{@service} account there.

If for some reason it doesn't work then reply to this email and let me know.

JournalBits
admin@journalbits.net
