!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to JournalBits #{@user.username}!
    %p
      JournalBits is really new so there will almost definitely be a few things that aren't perfect. 
    %p
      I'd appreciate if you could let me know about anything that isn't quite right.
      Just reply to this email or follow the contact link on the site.
    %p 
      Thank you for giving it a go and don't be shy to give feedback, good or bad!
    %p
      JournalBits
