:css

  .contact-section {
    margin-top: 20px;
    text-align: center;
  }

  .about-content {
    width: 600px;
    margin: auto;
    text-align: left;
  }

%h2
  About

%section.about-content
  %p
    Journal Bits exists to journal the portion of your life that can be reached via APIs.
    After you've made your intial connections to the various services that you use online then Journal Bits does the rest.
  %br/

  %p
    All of your digital life that Journal Bits can reach will be collected and combined into a journal of sorts.
  %br/

  %p
    If you have any services that you use that you'd like Journal Bits to collect data from then let me know by getting in touch via email or Twitter as listed below.
    Similarly, if you have any feature requests or you'd like to get involved then don't hesitate to get in touch.
  %br/

  %section.contact-section
    Email
    %a{href: 'mailto:admin@journalbits.net', class: 'body-link'}
      admin@journalbits.net

    or tweet
    %a{href: 'http://twitter.com/journalbits', class: 'body-link'}
      @journalbits.
