/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section.connections {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  /*  .twitter-logo:hover {
      border: 4px solid #42ABF3;
    }
  
    .github-logo:hover {
      border: 4px solid #201F1F;
    }
  
    .evernote-logo:hover {
      border: 4px solid #89C741;
    }
  
    .instagram-logo:hover {
      border: 4px solid #8F5545;
    }
  
    .wunderlist-logo:hover {
      border: 4px solid #E03C31;
    }
  
    .instapaper-logo:hover {
      border: 4px solid #ADACAB;
    }
  
    .fitbit-logo:hover {
      border: 4px solid #5BC3C6;
    }
  
    .pocket-logo:hover {
      border: 4px solid #E94154;
    }
  
    .facebook-logo:hover {
      border: 4px solid #3B579E;
    }
  
    .lastfm-logo:hover {
      border: 4px solid #CF372C;
    }
  
    .rescuetime-logo:hover {
      border: 4px solid #C4332A;
    }
  
    .whatpulse-logo:hover {
      border: 4px solid #96A5B0;
    }*/ }
  section.connections:before, section.connections:after {
    content: " ";
    display: table; }
  section.connections:after {
    clear: both; }
  section.connections h2.connections-intro {
    font-weight: 300;
    font-family: 'Nunito-Light';
    margin: 1.5%;
    text-align: center; }
  section.connections div.service-connection-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center; }
    section.connections div.service-connection-container:last-child {
      margin-right: 0; }
    section.connections div.service-connection-container:nth-child(4n) {
      margin-right: 0; }
    section.connections div.service-connection-container:nth-child(4n+1) {
      clear: left; }
    @media screen and (max-width: 800px) {
      section.connections div.service-connection-container {
        float: left;
        display: block;
        margin-right: 3.16844%;
        width: 31.22104%; }
        section.connections div.service-connection-container:nth-child(4n) {
          margin-right: 2.35765%; }
        section.connections div.service-connection-container:nth-child(4n+1) {
          clear: none; }
        section.connections div.service-connection-container:last-child {
          margin-right: 0; }
        section.connections div.service-connection-container:nth-child(3n) {
          margin-right: 0; }
        section.connections div.service-connection-container:nth-child(3n+1) {
          clear: left; } }
    @media screen and (max-width: 500px) {
      section.connections div.service-connection-container {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 46.28851%; }
        section.connections div.service-connection-container:nth-child(3n) {
          margin-right: 2.35765%; }
        section.connections div.service-connection-container:nth-child(3n+1) {
          clear: none; }
        section.connections div.service-connection-container:last-child {
          margin-right: 0; }
        section.connections div.service-connection-container:nth-child(2n) {
          margin-right: 0; }
        section.connections div.service-connection-container:nth-child(2n+1) {
          clear: left; } }
    section.connections div.service-connection-container h3 {
      font-family: 'Nunito-Light';
      font-weight: 300; }
    section.connections div.service-connection-container img {
      width: 160px;
      height: 160px;
      border: 4px solid #FFFFFF;
      border-radius: 10px;
      max-width: 100%;
      margin: 14% 1% 2%;
      padding: 2.5%; }
    section.connections div.service-connection-container img:hover {
      border: 4px solid #721A14; }
  section.connections div.service-connection-container:hover h3 {
    color: black; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #eeeeee 8.5298%, #eeeeee 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #eeeeee 17.05961%, #eeeeee 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #eeeeee 25.58941%, #eeeeee 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #eeeeee 34.11922%, #eeeeee 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #eeeeee 42.64902%, #eeeeee 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #eeeeee 51.17883%, #eeeeee 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #eeeeee 59.70863%, #eeeeee 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #eeeeee 68.23843%, #eeeeee 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #eeeeee 76.76824%, #eeeeee 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #eeeeee 85.29804%, #eeeeee 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #eeeeee 93.82785%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 60em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (max-width: 800px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 8.29472%, rgba(0, 0, 0, 0) 8.29472%, rgba(0, 0, 0, 0) 11.46316%, #eeeeee 11.46316%, #eeeeee 19.75788%, rgba(0, 0, 0, 0) 19.75788%, rgba(0, 0, 0, 0) 22.92632%, #eeeeee 22.92632%, #eeeeee 31.22104%, rgba(0, 0, 0, 0) 31.22104%, rgba(0, 0, 0, 0) 34.38948%, #eeeeee 34.38948%, #eeeeee 42.6842%, rgba(0, 0, 0, 0) 42.6842%, rgba(0, 0, 0, 0) 45.85264%, #eeeeee 45.85264%, #eeeeee 54.14736%, rgba(0, 0, 0, 0) 54.14736%, rgba(0, 0, 0, 0) 57.3158%, #eeeeee 57.3158%, #eeeeee 65.61052%, rgba(0, 0, 0, 0) 65.61052%, rgba(0, 0, 0, 0) 68.77896%, #eeeeee 68.77896%, #eeeeee 77.07368%, rgba(0, 0, 0, 0) 77.07368%, rgba(0, 0, 0, 0) 80.24212%, #eeeeee 80.24212%, #eeeeee 88.53684%, rgba(0, 0, 0, 0) 88.53684%, rgba(0, 0, 0, 0) 91.70528%, #eeeeee 91.70528%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 8.29472%, rgba(0, 0, 0, 0) 8.29472%, rgba(0, 0, 0, 0) 11.46316%, #eeeeee 11.46316%, #eeeeee 19.75788%, rgba(0, 0, 0, 0) 19.75788%, rgba(0, 0, 0, 0) 22.92632%, #eeeeee 22.92632%, #eeeeee 31.22104%, rgba(0, 0, 0, 0) 31.22104%, rgba(0, 0, 0, 0) 34.38948%, #eeeeee 34.38948%, #eeeeee 42.6842%, rgba(0, 0, 0, 0) 42.6842%, rgba(0, 0, 0, 0) 45.85264%, #eeeeee 45.85264%, #eeeeee 54.14736%, rgba(0, 0, 0, 0) 54.14736%, rgba(0, 0, 0, 0) 57.3158%, #eeeeee 57.3158%, #eeeeee 65.61052%, rgba(0, 0, 0, 0) 65.61052%, rgba(0, 0, 0, 0) 68.77896%, #eeeeee 68.77896%, #eeeeee 77.07368%, rgba(0, 0, 0, 0) 77.07368%, rgba(0, 0, 0, 0) 80.24212%, #eeeeee 80.24212%, #eeeeee 88.53684%, rgba(0, 0, 0, 0) 88.53684%, rgba(0, 0, 0, 0) 91.70528%, #eeeeee 91.70528%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 8.29472%, rgba(0, 0, 0, 0) 8.29472%, rgba(0, 0, 0, 0) 11.46316%, #eeeeee 11.46316%, #eeeeee 19.75788%, rgba(0, 0, 0, 0) 19.75788%, rgba(0, 0, 0, 0) 22.92632%, #eeeeee 22.92632%, #eeeeee 31.22104%, rgba(0, 0, 0, 0) 31.22104%, rgba(0, 0, 0, 0) 34.38948%, #eeeeee 34.38948%, #eeeeee 42.6842%, rgba(0, 0, 0, 0) 42.6842%, rgba(0, 0, 0, 0) 45.85264%, #eeeeee 45.85264%, #eeeeee 54.14736%, rgba(0, 0, 0, 0) 54.14736%, rgba(0, 0, 0, 0) 57.3158%, #eeeeee 57.3158%, #eeeeee 65.61052%, rgba(0, 0, 0, 0) 65.61052%, rgba(0, 0, 0, 0) 68.77896%, #eeeeee 68.77896%, #eeeeee 77.07368%, rgba(0, 0, 0, 0) 77.07368%, rgba(0, 0, 0, 0) 80.24212%, #eeeeee 80.24212%, #eeeeee 88.53684%, rgba(0, 0, 0, 0) 88.53684%, rgba(0, 0, 0, 0) 91.70528%, #eeeeee 91.70528%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 8.29472%, rgba(0, 0, 0, 0) 8.29472%, rgba(0, 0, 0, 0) 11.46316%, #eeeeee 11.46316%, #eeeeee 19.75788%, rgba(0, 0, 0, 0) 19.75788%, rgba(0, 0, 0, 0) 22.92632%, #eeeeee 22.92632%, #eeeeee 31.22104%, rgba(0, 0, 0, 0) 31.22104%, rgba(0, 0, 0, 0) 34.38948%, #eeeeee 34.38948%, #eeeeee 42.6842%, rgba(0, 0, 0, 0) 42.6842%, rgba(0, 0, 0, 0) 45.85264%, #eeeeee 45.85264%, #eeeeee 54.14736%, rgba(0, 0, 0, 0) 54.14736%, rgba(0, 0, 0, 0) 57.3158%, #eeeeee 57.3158%, #eeeeee 65.61052%, rgba(0, 0, 0, 0) 65.61052%, rgba(0, 0, 0, 0) 68.77896%, #eeeeee 68.77896%, #eeeeee 77.07368%, rgba(0, 0, 0, 0) 77.07368%, rgba(0, 0, 0, 0) 80.24212%, #eeeeee 80.24212%, #eeeeee 88.53684%, rgba(0, 0, 0, 0) 88.53684%, rgba(0, 0, 0, 0) 91.70528%, #eeeeee 91.70528%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 8.29472%, rgba(0, 0, 0, 0) 8.29472%, rgba(0, 0, 0, 0) 11.46316%, #eeeeee 11.46316%, #eeeeee 19.75788%, rgba(0, 0, 0, 0) 19.75788%, rgba(0, 0, 0, 0) 22.92632%, #eeeeee 22.92632%, #eeeeee 31.22104%, rgba(0, 0, 0, 0) 31.22104%, rgba(0, 0, 0, 0) 34.38948%, #eeeeee 34.38948%, #eeeeee 42.6842%, rgba(0, 0, 0, 0) 42.6842%, rgba(0, 0, 0, 0) 45.85264%, #eeeeee 45.85264%, #eeeeee 54.14736%, rgba(0, 0, 0, 0) 54.14736%, rgba(0, 0, 0, 0) 57.3158%, #eeeeee 57.3158%, #eeeeee 65.61052%, rgba(0, 0, 0, 0) 65.61052%, rgba(0, 0, 0, 0) 68.77896%, #eeeeee 68.77896%, #eeeeee 77.07368%, rgba(0, 0, 0, 0) 77.07368%, rgba(0, 0, 0, 0) 80.24212%, #eeeeee 80.24212%, #eeeeee 88.53684%, rgba(0, 0, 0, 0) 88.53684%, rgba(0, 0, 0, 0) 91.70528%, #eeeeee 91.70528%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 8.29472%, rgba(0, 0, 0, 0) 8.29472%, rgba(0, 0, 0, 0) 11.46316%, #eeeeee 11.46316%, #eeeeee 19.75788%, rgba(0, 0, 0, 0) 19.75788%, rgba(0, 0, 0, 0) 22.92632%, #eeeeee 22.92632%, #eeeeee 31.22104%, rgba(0, 0, 0, 0) 31.22104%, rgba(0, 0, 0, 0) 34.38948%, #eeeeee 34.38948%, #eeeeee 42.6842%, rgba(0, 0, 0, 0) 42.6842%, rgba(0, 0, 0, 0) 45.85264%, #eeeeee 45.85264%, #eeeeee 54.14736%, rgba(0, 0, 0, 0) 54.14736%, rgba(0, 0, 0, 0) 57.3158%, #eeeeee 57.3158%, #eeeeee 65.61052%, rgba(0, 0, 0, 0) 65.61052%, rgba(0, 0, 0, 0) 68.77896%, #eeeeee 68.77896%, #eeeeee 77.07368%, rgba(0, 0, 0, 0) 77.07368%, rgba(0, 0, 0, 0) 80.24212%, #eeeeee 80.24212%, #eeeeee 88.53684%, rgba(0, 0, 0, 0) 88.53684%, rgba(0, 0, 0, 0) 91.70528%, #eeeeee 91.70528%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
  @media screen and (max-width: 500px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #eeeeee 26.85574%, #eeeeee 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #eeeeee 53.71149%, #eeeeee 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #eeeeee 80.56723%, #eeeeee 100%, rgba(0, 0, 0, 0) 100%); } }

* {
  color: #4D4C4D;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

@font-face {
  font-family: 'Nunito-Regular';
  src: url(/assets/Nunito-Regular.eot) format("embedded-opentype"), url(/assets/Nunito-Regular.woff) format("woff"), url(/assets/Nunito-Regular.ttf) format("truetype"), url(/assets/Nunito-Regular.svg) format("svg"); }

@font-face {
  font-family: 'Nunito-Light';
  src: url(/assets/Nunito-Light.eot) format("embedded-opentype"), url(/assets/Nunito-Light.woff) format("woff"), url(/assets/Nunito-Light.ttf) format("truetype"), url(/assets/Nunito-Light.svg) format("svg"); }

@font-face {
  font-family: 'journalbits';
  src: url("journalbits.eot");
  src: url("journalbits.eot?#iefix") format("embedded-opentype"), url("journalbits.woff") format("woff"), url("journalbits.ttf") format("truetype"), url("journalbits.svg#journalbits") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="jb-"], [class*=" jb-"] {
  font-family: 'journalbits';
  speak: none;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.jb-twitter:before {
  content: "\e600"; }

.jb-connections:before {
  content: "\e601"; }

.jb-home:before {
  content: "\e602"; }

.jb-profile:before {
  content: "\e604"; }

.jb-upgrade:before {
  content: "\e605"; }

.jb-logout:before {
  content: "\e603"; }

.jb-entries:before {
  content: "\e606"; }

.jb-settings:before {
  content: "\e607"; }

body .main_body {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito-Light';
  width: 100%;
  margin: 0 auto; }
  body .main_body:before, body .main_body:after {
    content: " ";
    display: table; }
  body .main_body:after {
    clear: both; }

p.notice {
  background: #d00319;
  color: white;
  font-size: 1.1em;
  text-align: center;
  border-radius: 10px;
  margin: 1.5%;
  margin: auto;
  width: 30%; }

nav {
  font-family: 'Nunito-Regular';
  width: 100%;
  height: 42px;
  list-style: none;
  border-bottom: 1px solid #d0d0d0; }
  nav ul {
    align: center;
    max-width: 960px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none; }
    nav ul li {
      float: left;
      width: 20%;
      list-style-type: none;
      margin-top: 5px; }
      nav ul li a {
        display: block;
        width: 100%;
        text-decoration: none;
        transition: color .5s, background .5s, height .5s; }

a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 70%;
  text-align: center;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  border-top: 1px solid #d0d0d0;
  font-family: 'Nunito-Light'; }
