/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


@import "bourbon";
@import "neat";
* {
  margin: 0; }

@font-face {
  font-family: 'Lato-Regular';
  src: url(/assets/Lato-Regular.eot) format("embedded-opentype"), url(/assets/Lato-Regular.woff) format("woff"), url(/assets/Lato-Regular.ttf) format("truetype"), url(/assets/Lato-Regular.svg) format("svg"); }

@font-face {
  font-family: 'journalbits';
  src: url("journalbits.eot");
  src: url("journalbits.eot?#iefix") format("embedded-opentype"), url("journalbits.woff") format("woff"), url("journalbits.ttf") format("truetype"), url("journalbits.svg#journalbits") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="jb-"], [class*=" jb-"] {
  font-family: 'journalbits';
  speak: none;
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.jb-twitter:before {
  content: "\e600"; }

.jb-connections:before {
  content: "\e601"; }

.jb-home:before {
  content: "\e602"; }

.jb-options:before {
  content: "\e603"; }

.jb-profile:before {
  content: "\e604"; }

.jb-upgrade:before {
  content: "\e605"; }

body .main_body {
  font-family: 'Lato-Regular';
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

nav {
  font-family: 'Lato-Regular';
  background: #710300;
  /* border-bottom: 3px solid black;*/
  width: 100%;
  /*margin: 20px 0;*/
  height: 40px;
  /*max-width: 1240px;*/
  /*margin: 0;
  padding: 0;*/
  list-style: none;
  /*font-size: 1.5em;
  font-weight: 300;*/ }

/*nav [data-icon]:before {
        font-family: 'journalbits';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }*/
nav ul {
  max-width: 960px;
  width: 70%;
  padding: 0;
  margin: 0;
  list-style-type: none; }

nav ul li {
  float: right;
  width: 20%;
  list-style-type: none; }

nav ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: rgba(249, 249, 249, 0.9);
  text-decoration: none;
  transition: color .5s, background .5s, height .5s; }

a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
