/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
/*$visual-grid: true;*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  /*.service-connection-img:hover {
    border: 4px solid #721A14;
  }*/ }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }
  section section.row_1_connections {
    /*@include span-columns(12);*/ }
  section .service-connection-img {
    margin: 2%;
    padding: 0.5%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 10px; }
    section .service-connection-img:last-child {
      margin-right: 0; }
    section .service-connection-img:nth-child(6) {
      margin-right: 0; }
    section .service-connection-img:nth-child(6+1) {
      clear: left; }
  section .twitter-logo:hover {
    border: 4px solid #42ABF3; }
  section .github-logo:hover {
    border: 4px solid #201F1F; }
  section .evernote-logo:hover {
    border: 4px solid #89C741; }
  section .instagram-logo:hover {
    border: 4px solid #8F5545; }
  section .wunderlist-logo:hover {
    border: 4px solid #E03C31; }
  section .instapaper-logo:hover {
    border: 4px solid #ADACAB; }
  section .fitbit-logo:hover {
    border: 4px solid #5BC3C6; }
  section .pocket-logo:hover {
    border: 4px solid #E94154; }
  section .facebook-logo:hover {
    border: 4px solid #3B579E; }
  section .lastfm-logo:hover {
    border: 4px solid #CF372C; }
  section .rescuetime-logo:hover {
    border: 4px solid #C4332A; }
  section .whatpulse-logo:hover {
    border: 4px solid #96A5B0; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0; }

@font-face {
  font-family: 'Lato-Regular';
  src: url(/assets/Lato-Regular.eot) format("embedded-opentype"), url(/assets/Lato-Regular.woff) format("woff"), url(/assets/Lato-Regular.ttf) format("truetype"), url(/assets/Lato-Regular.svg) format("svg"); }

@font-face {
  font-family: 'journalbits';
  src: url("journalbits.eot");
  src: url("journalbits.eot?#iefix") format("embedded-opentype"), url("journalbits.woff") format("woff"), url("journalbits.ttf") format("truetype"), url("journalbits.svg#journalbits") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="jb-"], [class*=" jb-"] {
  font-family: 'journalbits';
  speak: none;
  color: white;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.jb-twitter:before {
  content: "\e600"; }

.jb-connections:before {
  content: "\e601"; }

.jb-home:before {
  content: "\e602"; }

.jb-profile:before {
  content: "\e604"; }

.jb-upgrade:before {
  content: "\e605"; }

.jb-logout:before {
  content: "\e603"; }

.jb-entries:before {
  content: "\e606"; }

.jb-settings:before {
  content: "\e607"; }

body .main_body {
  font-family: 'Lato-Regular';
  width: 100%;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  /*max-width: 960px;*/
  margin: 0 auto; }
  body .main_body:before, body .main_body:after {
    content: " ";
    display: table; }
  body .main_body:after {
    clear: both; }

body {
  /*@include outer-container;*/ }

nav {
  font-family: 'Lato-Regular';
  background: #710300;
  /* border-bottom: 3px solid black;*/
  width: 100%;
  /*margin: 20px 0;*/
  height: 42px;
  /*max-width: 1240px;*/
  /*margin: 0;
  padding: 0;*/
  list-style: none;
  /*font-size: 1.5em;
  font-weight: 300;*/ }
  nav ul {
    align: center;
    max-width: 960px;
    /*width: 70%;*/
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none; }
    nav ul li {
      /*@include span-columns(2);*/
      float: left;
      width: 20%;
      list-style-type: none;
      margin-top: 5px; }
      nav ul li a {
        text-decoration: none;
        display: block;
        width: 100%;
        color: rgba(249, 249, 249, 0.9);
        text-decoration: none;
        transition: color .5s, background .5s, height .5s; }

/*nav ul li span {
  float: left;
}*/
a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@media (min-width: 50em) {
  /*    nav li {
        float: left;
        width: 10%;
        text-align: center;
        transition: border .5s;
      }
   
      nav a {
        display: block;
        width: auto;
      }*/ }
