---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="D59ObW44BijgKeNXq3r07g", oauth_nonce="ab887b896b595e9d10bae8c42eadb4be",
        oauth_signature="JWAPU6SRjTaxqyh4KSrwC7zeZv8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389706618", oauth_token="83189257-XRSAxVQEbrjRBoyEZnHo5QVMA1EfVSRYuSwqva6pb",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 14 Jan 2014 13:36:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1389707270'
      X-Transaction:
      - 6b0b3279aa5df0da
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jan 14 12:40:37 +0000 2014","id":423072158093701120,"id_str":"423072158093701120","text":"If
        you\u2019re an @Rdio user then check out Trnsmit for importing iTunes playlists
        http:\/\/t.co\/JUBuxFq2gN","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":83189257,"id_str":"83189257","name":"Hamilton
        Chapman","screen_name":"hamchapman","location":"","description":"Interested
        in iOS and web development. \nProblem solver","url":"http:\/\/t.co\/s3ZpspA5Sg","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/s3ZpspA5Sg","expanded_url":"http:\/\/hamiltonchapman.com\/","display_url":"hamiltonchapman.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":53,"friends_count":172,"listed_count":1,"created_at":"Sat
        Oct 17 18:21:01 +0000 2009","favourites_count":152,"utc_offset":0,"time_zone":"London","geo_enabled":true,"verified":false,"statuses_count":124,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/798576154\/81213280de5fa1a337c0be068e08c541.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/798576154\/81213280de5fa1a337c0be068e08c541.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2728660044\/5c376436f8b63ecbff37dc1fed330272_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2728660044\/5c376436f8b63ecbff37dc1fed330272_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/83189257\/1361655264","profile_link_color":"940606","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/JUBuxFq2gN","expanded_url":"http:\/\/www.trnsmit.com","display_url":"trnsmit.com","indices":[78,100]}],"user_mentions":[{"screen_name":"Rdio","name":"Rdio","id":54205414,"id_str":"54205414","indices":[13,18]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Jan 14 11:57:11 +0000 2014","id":423061229075443712,"id_str":"423061229075443712","text":"Using
        VCR in combination with Webmock for testing API calls is actively enjoyable.
        Who\u2019d have thought that testing could be fun","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":nul[...]
