%div.circle-logo-lg.rescuetime-logo-circle
%div.page-header.service-account-management-header
  New RescueTime Account

%div.manual-auth-form
  = form_for [@user, @account], url: user_rescue_time_accounts_path(@user), method: :post do |f|
    %b
      Rescue Time API Key
    = f.text_field :key

    %div.manual-auth-button
      = f.submit 'Connect', class: 'btn'
