@import "neat-helpers"; 

// $grid-columns: 12;
$max-width: em(960);

// Define your breakpoints

$desktop: new-breakpoint(min-width 801px 12);
$tablet: new-breakpoint(min-width 501px max-width 800px 9);
$mobile: new-breakpoint(max-width 500px 4);