@import "neat-helpers"; 

// Change the grid settings
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(960);
// $visual-grid: true !default;
// $visual-grid-color: #000 !default;

// Define your breakpoints
// $tablet: new-breakpoint(max-width 768px 8);
// $mobile: new-breakpoint(max-width 480px 4);