$twitter-hover: #42ABF3;
$github-hover: #201F1F;
$evernote-hover: #89C741;
$instagram-hover: #8F5545;
$wunderlist-hover: #F06549;
$instapaper-hover: #ADACAB;
$fitbit-hover: #5BC3C6;
$pocket-hover: #E94154;
$facebook-hover: #3B579E;
$lastfm-hover: #CF372C;
$rescuetime-hover: #C4332A;
$whatpulse-hover: #96A5B0;
$moves-hover: #20D260;
$sleepcycle-hover: #FA7935;

$notice-colour: #23d000;
$alert-colour: #d06300;
$error-colour: #d00319;