@import "bourbon";
@import "grid-settings";
// $visual-grid: true;
@import "neat";

section.connections {
  @include outer-container;

  h2.connections-intro {
    font-weight: 300;
    font-family: 'Nunito-Light';
    margin: 1.5%;
    text-align: center;
    // letter-spacing: 0.2px;
  }

  div.service-connection-container {
    
    @include media($desktop) {
      @include span-columns(3);
      @include omega(4n); 
    }

    @include media($tablet) {
      @include span-columns(3);
      @include omega(3n);
    }

    @include media($mobile) {
      @include span-columns(2);
      @include omega(2n);
    }


    text-align: center;

    h3 {
      font-family: 'Nunito-Light';
      font-weight: 300;
    }

    img {
      @include size(160);
      border: 4px solid #FFFFFF;
      border-radius: 10px;
      max-width: 100%;
      margin: 14% 1% 2%;
      padding: 2.5%;
    }

    img:hover {
      border: 4px solid #721A14;
    }
  }

  div.service-connection-container:hover {
    h3 {
      color: #000000
    }
  }


/*  .twitter-logo:hover {
    border: 4px solid #42ABF3;
  }

  .github-logo:hover {
    border: 4px solid #201F1F;
  }

  .evernote-logo:hover {
    border: 4px solid #89C741;
  }

  .instagram-logo:hover {
    border: 4px solid #8F5545;
  }

  .wunderlist-logo:hover {
    border: 4px solid #E03C31;
  }

  .instapaper-logo:hover {
    border: 4px solid #ADACAB;
  }

  .fitbit-logo:hover {
    border: 4px solid #5BC3C6;
  }

  .pocket-logo:hover {
    border: 4px solid #E94154;
  }

  .facebook-logo:hover {
    border: 4px solid #3B579E;
  }

  .lastfm-logo:hover {
    border: 4px solid #CF372C;
  }

  .rescuetime-logo:hover {
    border: 4px solid #C4332A;
  }

  .whatpulse-logo:hover {
    border: 4px solid #96A5B0;
  }*/
}