// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bourbon";
@import "grid-settings";
@import "neat";

.day_container {
  margin-top: 10px;
  @include outer-container;

  .daily-data-container {
    text-align: left;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #FFF;
    border-radius: 10px;

    @include media($desktop) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($tablet) {
      @include span-columns(4);
      @include omega(2n);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include omega(n);
    }

    &:hover {
      border-color: #d0d0d0;
    }

    h1 {
      font-family: 'lato', sans-serif;
      font-style: normal;
      font-weight: 500;
    }

    span {
      font-size: 22px;
      font-weight: 500;
    }

  }

  .day-info-container {
    padding: 20px;

    .user-gravatar {
      width: 50px;
      display: inline-block;
      margin-right: 10px;
    }

    .day-info-text {
      vertical-align: top;
      margin-top: 15px;
      display: inline-block;

      .day-info {
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
      }

      .day-info-hyphen {
        margin: 0px 5px;
      }
    }

  }
}

.service-data-header {
  text-align: center;
  margin: auto;
  padding: 6px 6px 16px;
}

.service-logo {
  display: inline-block;
  margin-bottom: -9px;
  background-size: cover;
  height: 35px;
  width: 35px;
}

.service-data-content {
  padding: 0px 20px;
}