@import "bourbon";
@import "grid-settings";
$visual-grid: true;
@import "neat";

* {
  color: #4D4C4D;
  margin: 0;
}

html, body, .main-container {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: font-url('Nunito-Regular.eot') format('embedded-opentype'), 
       font-url('Nunito-Regular.woff') format('woff'), 
       font-url('Nunito-Regular.ttf')  format('truetype'),
       font-url('Nunito-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Nunito-Light';
  src: font-url('Nunito-Light.eot') format('embedded-opentype'), 
       font-url('Nunito-Light.woff') format('woff'), 
       font-url('Nunito-Light.ttf')  format('truetype'),
       font-url('Nunito-Light.svg') format('svg');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: font-url('Nunito-Bold.eot') format('embedded-opentype'), 
       font-url('Nunito-Bold.woff') format('woff'), 
       font-url('Nunito-Bold.ttf')  format('truetype'),
       font-url('Nunito-Bold.svg') format('svg');
}

@font-face {
  font-family: 'journalbits';
  src:url('journalbits.eot');
  src:url('journalbits.eot?#iefix') format('embedded-opentype'),
    url('journalbits.woff') format('woff'),
    url('journalbits.ttf') format('truetype'),
    url('journalbits.svg#journalbits') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="jb-"], [class*=" jb-"] {
  font-family: 'journalbits';
  speak: none;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jb-twitter:before {
  content: "\e600";
}
.jb-connections:before {
  content: "\e601";
}
.jb-home:before {
  content: "\e602";
}
.jb-profile:before {
  content: "\e604";
}
.jb-upgrade:before {
  content: "\e605";
}
.jb-login:before {
  content: "\e603";
}
.jb-entries:before {
  content: "\e606";
}
.jb-settings:before {
  content: "\e607";
}
.jb-register:before {
  content: "\e608";
}
.jb-new:before {
  content: "\e609";
}
.jb-logout:before {
  content: "\e60a";
}
.jb-journal:before {
  content: "\e60b";
}
.jb-data:before {
  content: "\e60c";
}

.main-container {
  height: auto; 
  min-height: 100%;
}

.main_body {
  @include outer-container;
  font-family: 'Nunito-Light';
  padding-bottom: 3em;
}

p.notice {
  background: #d00319;
  color: white;
  font-size: 1.1em;
  text-align: center;
  border-radius: 10px;
  margin: 1.5%;
  margin: auto;
  width: 30%;
}

p.alert {

}

nav {
  font-family: 'Nunito-Bold';
  font-size: 1.2em;
  width: 100%;
  height: 42px;
  list-style: none;
  border-bottom: 1px solid #d0d0d0;
  
  div.nav {
    max-width: 960px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;

    div.nav-left {
      float: left;
      margin-left: 5%;

      a {
        transition: color .5s, background .5s, height .5s;
        
        .nav-symbol {
          @include media($desktop) {
            display: none;
          }

          @include media($tablet) {
            display: none;
          }
        }

        .nav-text {
          @include media($mobile) {
            display: none;
          }
        }
      }
    }

    div.nav-right {
      margin-right: 5%;
      float: right;

      ul.nav-list-right {
        float: right;
        margin-right: 0;

        li {
          float: left;
          margin-right: 30px;
          list-style-type: none;
          
          a {
            .nav-symbol {
              @include media($desktop) {
                display: none;
              }

              @include media($tablet) {
                display: none;
              }
            }

            .nav-text {
              @include media($mobile) {
                display: none;
              }
            }
          }
        }
        
        li.nav-logout {
          margin-right: 0px;
        }
      }
    }
  }
}


a, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align:center;
  border-top: 1px solid #d0d0d0;
  font-family: 'Nunito-Light';
  padding-top: 0.5em;
  clear: both;
  position: relative;
  height: 2.5em;
  margin-top: -2.5em;
}