// TODO: Find out if bourbon, neat etc need to be imported here

@import "bourbon";
@import "grid-settings";
/* \$visual-grid: true; */
@import "neat";
@import "colours";


/*      GENERAL     */

* {
  color: #4D4C4D;
  margin: 0;
  outline: none;
}

*:focus {
  outline: none;
}

html, body, .main-container {
  height: 100%;
  background-color: #FFFFFF;
}

body {
  text-align: center;
  /* font-family: 'lato', 'Lato', sans-serif; */
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  transition: color linear 0.2s;
}

.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3.5em;
}

.push {
  height: 3.5em;
}

.main_body {
  @include outer-container;

  font-family: 'lato', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 3em;
  margin-bottom: 30px;
}

p.flash-message {
  padding: 3px;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 1.5%;
  margin: 8px auto;
  width: 30%;
}

p.notice {
  background: $notice-colour;
}

p.alert {
  background: $alert-colour;
}

p.error {
  background: $error-colour;
}

/* ---------------- */


/*       FONTS      */

@font-face {
  font-family: 'journalbits';
  src:font-url('journalbits.eot');
  src:font-url('journalbits.eot?#iefix') format('embedded-opentype'),
    font-url('journalbits.woff') format('woff'),
    font-url('journalbits.ttf') format('truetype'),
    font-url('journalbits.svg#journalbits') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="jb-"], [class*=" jb-"] {
  font-family: 'journalbits';
  speak: none;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jb-twitter:before {
  content: "\e600";
}
.jb-connections:before {
  content: "\e601";
}
.jb-home:before {
  content: "\e602";
}
.jb-profile:before {
  content: "\e604";
}
.jb-upgrade:before {
  content: "\e605";
}
.jb-login:before {
  content: "\e603";
}
.jb-entries:before {
  content: "\e606";
}
.jb-settings:before {
  content: "\e607";
}
.jb-register:before {
  content: "\e608";
}
.jb-new:before {
  content: "\e609";
}
.jb-logout:before {
  content: "\e60a";
}
.jb-journal:before {
  content: "\e60b";
}
.jb-data:before {
  content: "\e60c";
}

/* ---------------- */


/*      NAVBAR      */

nav {
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  width: 100%;
  height: 42px;
  list-style: none;
  border-bottom: 1px solid #d0d0d0;

  div.nav {
    max-width: 960px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;

    div.nav-left {
      float: left;
      margin-left: 5%;

      div.nav-logo {
        float: left;
        background-image: image-url('nav-logo.png');
        background-size: cover;
        width: 25px;
        height: 31px;
        margin-top: -4px;
        margin-right: 10px;
      }

      a {
        transition: color .5s, background .5s, height .5s;

        .nav-symbol {
          @include media($desktop) {
            display: none;
          }

          @include media($tablet) {
            display: none;
          }
        }

        .nav-text {
          @include media($mobile) {
            display: none;
          }
        }
      }
    }

    div.nav-right {
      margin-right: 5%;
      float: right;

      ul.nav-list-right {
        float: right;
        margin-right: 0;

        li {
          display: inline-block;
          margin-right: 20px;
          list-style-type: none;

          a {
            .nav-symbol {
              @include media($desktop) {
                display: none;
              }

              @include media($tablet) {
                display: none;
              }
            }

            .nav-text {
              @include media($mobile) {
                display: none;
              }
            }
          }
        }

        li:last-of-type {
          margin-right: 0;
        }

        li.nav-logout {
          margin-right: 0px;
        }
      }
    }
  }
}

/* ---------------- */


/*      FOOTER      */

a, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  border-top: 1px solid #d0d0d0;
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  padding-top: 0.5em;
  clear: both;
  height: 3.5em;
  vertical-align: middle;
}

.footer-text {
  margin-top: 10px;
  margin-left: 300px;
  display: inline-block;
}

#heap-badge {
  float: right;
  margin-right: 10px;
}

.nav-footer {
  float: right;
  margin-top: 10px;
  margin-right: 15px;

  li {
    float: left;
    list-style: none;
    margin-left: 10px;
  }
}

/* ---------------- */


/* DEVISE OVERRIDES */

#error_explanation {
  h2 {
    font-size: 18px;
    font-weight: 700;
  }

  ul {
    list-style: none;

    li {
      color: #E85541;
    }
  }
}

/* ---------------- */


/*  GENERAL STYLES  */


.btn {
  border: 1px solid #4D4C4D;
  background-color: #FFF;
  border-radius: 15px;
  font-family: 'lato', sans-serif;
  font-size: 14px;
  min-width: 100px;
  font-weight: 500;
  padding: 2px 8px;
}

.btn:hover {
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  transition: all linear 0.15s;
  color: #fc7750;
  border-color: #fc7750;
}

.btn-wide {
  width: 200px;
}

input {
  -webkit-transition: border-bottom linear 0.2s;
  -moz-transition: border-bottom linear 0.2s;
  -o-transition: border-bottom linear 0.2s;
  transition: border-bottom linear 0.2s;
}

input[type='text'], input[type='password'], input[type='email'] {
  border: none;
  border-bottom: 1px solid #c7c7c7;
  width: 220px;
  font-size: 16px;
}

input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='text']:hover, input[type='password']:hover, input[type='email']:hover {
  border-bottom: 1px solid #000;
}

.inp-sm {
  width: 160px;
  font-size: 14px;
}

select {
  background-color: transparent;
  font-size: 14px;
  width: 220px
}

.form-field {
  padding: 6px;
}

.form-button {
  padding: 8px;
}

.form-select {
  padding: 6px;
}

.page-header {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}

.service-account-management-header {
  display: inline-block;
  padding: 20px 5px;
}

.circle-logo-lg {
  margin-bottom: -16px;
  background-size: cover;
}

.prompt-text {
  font-size: 13px;
}

.body-link {
  color: #DF6D5E;

  &:hover, &:focus {
    color: #f40000;
  }
}

.manual-auth-form {
  padding: 20px;
}

.manual-auth-button {
  margin: 15px auto;
}

/* ---------------- */


.evernote-logo-circle {
  background-image: image-url('evernote50_circular.png');
}

.facebook-logo-circle {
  background-image: image-url('facebook50_circular.png');
}

.fitbit-logo-circle {
  background-image: image-url('fitbit50_circular.png');
}

.github-logo-circle {
  background-image: image-url('github50_circular.png');
}

.instagram-logo-circle {
  background-image: image-url('instagram50_circular.png');
}

.instapaper-logo-circle {
  background-image: image-url('instapaper50_circular.png');
}

.lastfm-logo-circle {
  background-image: image-url('lastfm50_circular.png');
}

.moves-logo-circle {
  background-image: image-url('moves50_circular.png');
}

.pocket-logo-circle {
  background-image: image-url('pocket50_circular.png');
}

.rescuetime-logo-circle {
  background-image: image-url('rescue_time50_circular.png');
}

.sleepcycle-logo-circle {
  background-image: image-url('sleepcycle50_circular.png');
}

.twitter-logo-circle {
  background-image: image-url('twitter50_circular.png');
}

.whatpulse-logo-circle {
  background-image: image-url('whatpulse50_circular.png');
}

.wunderlist-logo-circle {
  background-image: image-url('wunderlist50_circular.png');
}

.circle-logo-lg {
  width: 50px;
  height: 50px;
  display: inline-block;
}







.add-service-account-btn {
  margin: 10px auto 20px;
}

.account-management-buttons {
  div {
    display: inline-block;
    margin: 10px;
  }
}

.service-account-table {
  margin: 10px auto;
}

.service-account-table-value {
  text-align: left;
  padding-left: 4px;
}

.service-account-table-label {
  text-align: right;
  padding-right: 4px;
}

