---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4802'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"39188f45d43695a5abbd7a9f1e5d6c9b"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":15085823,"name":"fireworks","full_name":"dwkns/fireworks","owner":{"login":"dwkns","id":5578117,"avatar_url":"https://gravatar.com/avatar/8f1925068e88def6c58d597d72f58805?d=https%3A%2F%2Fidenticons.github.com%2Fb092673befb5fa9874ef20644d98b5f9.png&r=x","gravatar_id":"8f1925068e88def6c58d597d72f58805","url":"https://api.github.com/users/dwkns","html_url":"https://github.com/dwkns","followers_url":"https://api.github.com/users/dwkns/followers","following_url":"https://api.github.com/users/dwkns/following{/other_user}","gists_url":"https://api.github.com/users/dwkns/gists{/gist_id}","starred_url":"https://api.github.com/users/dwkns/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dwkns/subscriptions","organizations_url":"https://api.github.com/users/dwkns/orgs","repos_url":"https://api.github.com/users/dwkns/repos","events_url":"https://api.github.com/users/dwkns/events{/privacy}","received_events_url":"https://api.github.com/users/dwkns/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dwkns/fireworks","description":"","fork":false,"url":"https://api.github.com/repos/dwkns/fireworks","forks_url":"https://api.github.com/repos/dwkns/fireworks/forks","keys_url":"https://api.github.com/repos/dwkns/fireworks/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dwkns/fireworks/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dwkns/fireworks/teams","hooks_url":"https://api.github.com/repos/dwkns/fireworks/hooks","issue_events_url":"https://api.github.com/repos/dwkns/fireworks/issues/events{/number}","events_url":"https://api.github.com/repos/dwkns/fireworks/events","assignees_url":"https://api.github.com/repos/dwkns/fireworks/assignees{/user}","branches_url":"https://api.github.com/repos/dwkns/fireworks/branches{/branch}","tags_url":"https://api.github.com/repos/dwkns/fireworks/tags","blobs_url":"https://api.github.com/repos/dwkns/fireworks/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dwkns/fireworks/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dwkns/fireworks/git/refs{/sha}","trees_url":"https://api.github.com/repos/dwkns/fireworks/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dwkns/fireworks/statuses/{sha}","languages_url":"https://api.github.com/repos/dwkns/fireworks/languages","stargazers_url":"https://api.github.com/repos/dwkns/fireworks/stargazers","contributors_url":"https://api.github.com/repos/dwkns/fireworks/contributors","subscribers_url":"https://api.github.com/repos/dwkns/fireworks/subscribers","subscription_url":"https://api.github.com/repos/dwkns/fireworks/subscription","commits_url":"https://api.github.com/repos/dwkns/fireworks/commits{/sha}","git_commits_url":"https://api.github.com/repos/dwkns/fireworks/git/commits{/sha}","comments_url":"https://api.github.com/repos/dwkns/fireworks/comments{/number}","issue_comment_url":"https://api.github.com/repos/dwkns/fireworks/issues/comments/{number}","contents_url":"https://api.github.com/repos/dwkns/fireworks/contents/{+path}","compare_url":"https://api.github.com/repos/dwkns/fireworks/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dwkns/fireworks/merges","archive_url":"https://api.github.com/repos/dwkns/fireworks/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dwkns/fireworks/downloads","issues_url":"https://api.github.com/repos/dwkns/fireworks/issues{/number}","pulls_url":"https://api.github.com/repos/dwkns/fireworks/pulls{/number}","milestones_url":"https://api.github.com/repos/dwkns/fireworks/milestones{/number}","notifications_url":"https://api.github.com/repos/dwkns/fireworks/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dwkns/fireworks/labels{/name}","releases_url":"https://api.github.com/repos/dwkns/fireworks/releases{/id}","created_at":"2013-12-10T18:38:19Z","updated_at":"2014-01-11T13:33:35Z","pushed_at":"2014-01-11T13:33:34Z","git_url":"git://github.com/dwkns/fireworks.git","ssh_url":"git@github.com:dwkns/fireworks.git","clone_url":"https://github.com/dwkns/fireworks.git","svn_url":"https://github.com/dwkns/fireworks","homepage":null,"size":5852,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":2,"mirror_url":null,"open_issues_count":0,"forks":2,"open_issues":0,"watchers":0,"default_branch":"master","master_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":14393007,"name":"Super_craic","full_name":"elliottm/Super_craic","owner":{"login":"elliottm","id":5627021,"avatar_url":"https://gravatar.com/avatar/191ba1a398c3f56e0113b71047e58f59?d=https%3A%2F%2Fidenticons.github.com%2Feac8b708dc2d4488c2d4018705efdc0a.png&r=x","gravatar_id":"191ba1a398c3f56e0113b71047e58f59","url":"https://api.github.com/users/elliottm","html_url":"https://github.com/elliottm","followers_url":"https://api.github.com/users/elliottm/followers","following_url":"https[...]
- request:
    method: get
    uri: https://api.github.com/repos/dwkns/fireworks/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4801'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/elliottm/Super_craic/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4800'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Airport/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4799'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Array_Inject/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4798'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Battleships/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4797'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Bloglog/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4796'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/BNRDeleteSelectedRows/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4795'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Bookmark_Manager/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4794'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Boris_Bikes/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4793'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/catchr/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4792'
      X-Ratelimit-Reset:
      - '1389916236'
      Last-Modified:
      - Thu, 16 Jan 2014 17:01:39 GMT
      Etag:
      - '"9208a05a503358012efe3882951f5f8f"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"sha":"69338e7c60ae60d02d216c5daea8e11e6c872bef","commit":{"author":{"name":"Hamilton
        Chapman","email":"hamchapman@gmail.com","date":"2014-01-16T17:01:39Z"},"committer":{"name":"Hamilton
        Chapman","email":"hamchapman@gmail.com","date":"2014-01-16T17:01:39Z"},"message":"Refactored
        Github API helper methods and started writing tests for it","tree":{"sha":"6769bb9628834296bd0e72bcfc0e34f0164040a1","url":"https://api.github.com/repos/hamchapman/catchr/git/trees/6769bb9628834296bd0e72bcfc0e34f0164040a1"},"url":"https://api.github.com/repos/hamchapman/catchr/git/commits/69338e7c60ae60d02d216c5daea8e11e6c872bef","comment_count":0},"url":"https://api.github.com/repos/hamchapman/catchr/commits/69338e7c60ae60d02d216c5daea8e11e6c872bef","html_url":"https://github.com/hamchapman/catchr/commit/69338e7c60ae60d02d216c5daea8e11e6c872bef","comments_url":"https://api.github.com/repos/hamchapman/catchr/commits/69338e7c60ae60d02d216c5daea8e11e6c872bef/comments","author":{"login":"hamchapman","id":2475150,"avatar_url":"https://gravatar.com/avatar/b3891c37205fdf64a510febce4d34dcc?d=https%3A%2F%2Fidenticons.github.com%2Fce4ac9892dc1e0[...]
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Chitter/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4791'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/CV/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/fireworks/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4789'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:54 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/GitHub-Stats/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4788'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:55 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/hamchapman.github.io/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4787'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:55 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/life/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4786'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:56 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/MakerWord/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4785'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:56 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/MakerWordRuby/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4784'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:57 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/MA_Sudoku_Sinatra/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4783'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:57 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/octocat_questions/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4782'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/octokit.rb/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4781'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/PiWebSockets/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4780'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:41:59 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/PusherTesting/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4779'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:42:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Quantio/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4778'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:42:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/RockPaperScissors/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4777'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:42:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/Sinatra_Play/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 418c91672f74323129338e7bf3a3e41e97cecdf4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4776'
      X-Ratelimit-Reset:
      - '1389916236'
      Etag:
      - '"e1ece3b652915f137faa8156cb6ee060"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Thu, 16 Jan 2014 23:42:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hamchapman/SoundcloudTesting/commits?since=2014-01-16T00:00:00%2B00:00&until=2014-01-17T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
[...]
